body{
    background-color: lightgray;
}
h1{
    color:blue;
    font-size: xx-large;
    text-align: center;
}

label{
    color: darkblue;
}

input{
    font-size: medium;
    font-style: normal;
   
}

div {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid black;
    padding: 50px;
    margin: 20px;
p.dotted {
    outline-style: dotted;
}


