
    
img{
    background-color:white;
}
.container{
    color: black;
}
body{
    background-image: url(../../instagram/images/pizza.jpg);
    background: cover;
    background-size: 100%;
    background-color: black;

}


h1{
color:wheat;
text-align: center;

}
  
b{
    text-align: right;
}

.jean{
    color: white;
    text-align: center;
}
header{
  background-repeat: no-repeat;
  
}
footer{
 
}
button{
    align-items: center;
    text-align: right;
}
header{
    background-size:100;
    background: cover;
}
.red{
    background-size: 100;
    background-color: black;
    background: cover;
   
}
footer{
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    
}
nav{
  bottom: 10;
}
.blue{
    background-color: black;
}
.pink{
    background-color: black;
}
.textoColor{
    color: white;
}